#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;  
}

.result {
  height: 2rem;
}


.results {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.history {
  padding: 12px;
  border-radius: 12px;
  overflow-y: auto;
}

.historyList {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 480px; 
  justify-content: space-evenly;
  gap: 12px; 
}

.item {
  display: flex;
  align-items: center;
  gap: 3px;
}

.numberInput {
  height: 36px;
  border-radius: 6px;
  text-align: center;
  font-size: 36px;
  width: clamp(12.5rem, 22.371vw - 1.846rem, 25rem);
}