#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; 
}

.results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.history {
  border: 2px solid white;
  padding: 12px;
  border-radius: 12px;
  height: 300px;
  overflow-y: scroll;
}

.numberInput {
  height: 36px;
  border-radius: 6px;
  text-align: center;
  font-size: 36px;
}